<h2 id="form-title">Sign Up Form</h2>


<% if @user && @user.errors %>
    <h3 class="error"><%= @user.errors.full_messages.to_sentence  %></h3>
<% end %>

<form action="/signup" method="post">
<label for="name">Name:</label> <input type="text" name="name" id="name"/>
<br><br>
<label for="email">Email:</label> <input type="text" name="email" id="email"/>
<br><br>
<label for="password">Password:</label> <input type="password" name="password" id="password"/>
<br><br>
<label for="address">Address:</label> <input type="text" name="address" id="address"/>
<br><br>
<label for="city">City:</label> <input type="text" name="city" id="city"/>
<br><br>
<label for="state">State:</label> <input type="text" name="state" id="state"/>
<br><br>
<label for="zipcode">Zipcode:</label> <input type="text" name="zipcode" id="zipcode"/>
<br><br>
<input type="submit" value="Submit">
</form>
</form>