
<h1>Welcome, <%="#{@user.name}"%>!</h1>
</h4> Edit Profile</h4>
<br><br>
<h6>A fun message goes here</h6>
<br><br>
<h4>Click to View Your Plant Lists!<h4>
<br><br>
    <% @list = @user_plant_list.collect{|list| list.list_name}.uniq%>
    <h5> <% @list.each do |list|%></h5>
        <a href = "/plantlists"> <%=list %></a>
    <% end %>
    <br><br>


<h4>Sign Out</h4>