
<h1>Welcome, <%="#{@user.name}"%>!</h1>
</h4> Edit Profile</h4>
<br><br>
<h6>A fun message goes here</h6>
<br><br>
<h4>Click to View Your Plant Lists!<h4>
<br><br>
 <% list= @user.plant_lists.collect{|list| list.list_name}.uniq%>
 <% list.each do |listname| %>
    <h5> <a href="/<%=listname%>"> <%=listname %> </a></h5>
 <% end %>

   


<h4>Sign Out</h4>