<h1> <%= @plant.name %></h1>
<h6 class= "form-heading"> Sunlught Needs: </h6>
<%= @plant.sunlight_needs %> 
<h6 class= "form-heading"> Watering Needs: </h6>
<%= @plant.watering_needs %> 
<h6 class= "form-heading"> Best Environment: </h6>
<%= @plant.best_environment %> 