<h1> <%= @listname %> </h1>


    <%@user.plant_lists.map do |plants|%>
        <%if plants.list_name == @listname && plants.plant_id != nil%>
            <% @plant=@plant_directory.find_by_id(plants.plant_id)%>
            <%= @plant.name%>
            <br>
        <%end%>      
    <%end%> 




<br><br>


     