<div class="container">
  <header><img src="images/plant-fam-header-4.png" alt= "Flower Bouquet" class="center"></header>
  <div class="col-md-8 col-md-offset-2">
     <h1 id="greeting-title">Welcome to Plant Fam!</h1>

     
     <h5>Please Login</h5>
     <br> <br> 

   
    <% if @user && @user.errors %>
      <h5 class="error"><%= @user.errors.full_messages.to_sentence  %></h5>
    <% end %>
    <br>
     <form action="/" method="post">
     <label for="email">Email:</label>
     <input type="text" name="email" id="email"/>
     <label for="password">Password:</label>
     <input type="password" name="password" id="password"/>
     <input class="waves-effect deep-orange accent-1 btn" type="submit" value="Log In">
     </form>
     <br> 
     <h5>Dont Have an Account ? <a href ="/signup">Sign Up Here</a></h5>

  </div>
</div>
