<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
     <h2>Welcome to Plant Fam!</h2>

     
     <h5>Please Login</h5>
     <br> <br>

   
    <% if @user && @user.errors %>
      <h3 class="error"><%= @user.errors.full_messages.to_sentence  %></h3>
    <% end %>
    <br>
     <form action="/" method="post">
     <label for="email">Email:</label>
     <input type="text" name="email" id="email"/>
     <label for="password">Password:</label>
     <input type="password" name="password" id="password"/>
     <input type="submit" value="Log In">
     </form>
     <br> 
     <h4>Dont Have an Account ? <a href ="/signup">Sign Up Here</a></h4>

  </div>
</div>
