<h1 id="new-list-form"> Add A New Plant List</h1>


<form method="POST" action="/homepage">

<h5 class="form-heading"> Name: <input type="text" name="list" ></h5>



        
<h5><input class="waves-effect deep-orange accent-1 btn" type="submit" value="Add List"></h5>
</form>
